* {
    font-family: Helvetica, Verdana, Tahoma;
}
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
        padding: 15px;
        -webkit-flex: 1 100%;
        flex: 1 100%;
    }
.flex-container2 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}
h4 {
    text-align: center;
    margin: 5px 0 20px;
}
.resourceBox {
    width: 380px;
    margin: 20px;
    padding: 10px;
    border-style: double;
    border-color: blueviolet;
    border-radius: 10px;
    text-align: left;

}
    .resourceBox li {
        list-style-type: circle;
        margin: 0px 0px 15px -10px;
    }
.header-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-container > div {
        margin: 0px 10px 10px 10px;
        padding: 5px 5px 5px 5px;
}
footer {
    font-family: Verdana, Tahoma;
    font-size: x-small;
    margin: 20px 40px 40px 10px;
    text-align: center;
}

section {
    margin: 20px 40px 40px 10px;
    text-align: center;
}
nav {
    background-color: royalblue;
    color: white;
    padding: 0 10px 0;
}
    nav ul {
        list-style-type: none;
        padding: 0 10px 0;
        margin: 0 10px 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        text-align: center;
        justify-content: space-between;
        color: white;
    }

    nav ul a {
        text-decoration: none;
        color: white;
    }
    nav ul li a:hover {
        color: #ccff99;
    }
nav li a:visited {
    color: white;
}
.activeTab {
    color: Red !important;
}
li {
    /* list-style-type: none; */
}
input {
    margin-top: 5px;
}

    input:focus {
        background-color: lightgoldenrodyellow;
    }
    textarea:focus {
        background-color: lightgoldenrodyellow;
}

.labeler {
    margin-top: 18px;
}
.labelerReq {
    margin-top: 18px;
}
.req  {
    color: Red;
    content: ' *';
    display: inline;
}

.centerBox {
    border-radius: 5px;
    text-align: left;
    border-color: lightblue;
    border-width: thick;
    border-style: ridge;
    margin: 20px;
    padding: 20px;
}

nav {
    text-align: left;
    -webkit-flex: 1 auto;
    flex: 1 auto;
}

.article {
    -webkit-flex: 5 0px;
    flex: 5 0px;
}

footer {
    /*-webkit-order: 3;
        order: 3;*/
        bottom: 0px;
        margin-top: 25px;
        margin-left: 20px;
    }
.prettytbl {
    border-style: double;
    border-radius: 10px;
    border-color: lightskyblue;
    max-width: 600px;

}
.prettytbl td {
    padding: 3px;
}
.row2 {
    background-color: azure;
}
.left {
    text-align: left;
}
.error {
    color: Red;
    margin-left: 10px;
    font-size: 85%;
}
#SummaryMe {
    padding: 15px;
    margin: 0;
    border-style: double;
    border-color: gray;
    border-radius: 20px;
    background-color: #f2f2f2;
}
#SummaryText {
    border-style: none;
    font-size: large;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 10px;
    background-color: gainsboro;
    border-style: double;
    border-radius: 10px;
    border-color: gainsboro;
}
.todo {
    color: #009933;
    font-style: italic;
    text-align: left;
    margin: 20px;
}
.instruction {
    color: #0066cc;
    font-weight: bold;
    font-size: small;
}
.fakeLink {
    color: blue;
    text-decoration: underline;
    font-size: small;
    cursor: pointer;
}
a {
    color: blue;
}
.leftPageBox {
    width: 480px;
    border-radius: 5px;
    text-align: left;
    border-color: lightblue;
    border-width: thick;
    border-style: ridge;
    margin: 20px;
    padding: 20px;
}
#BugListUl li{
    margin-top: 10px;
}
#Terms {
    border-style: solid;
    border-color: #cccccc;
    border-width: 6px;
    background-color: #f2f2f2;
    font-size: small;
    padding: 20px;
}
.NextLink a{
        margin: 10px 25px 20px;
}
.PrevLink a{
    margin: 10px 25px 20px;
    float: right;
}
.Quiz {
    text-align: left;
    
}
.Quiz li {
    margin: 20px 20px 20px;
}
.Step {
    border-radius: 50%;
    background-color: royalblue;
    color: #fff;
    text-align: center;
    font-size: 24px;
    width: 35px;
    float: left;
    margin: 0 15px 10px 0;
}
.bugType {
    font-size: small;
    font-weight: bold;
    background-color: #c2d1f0;
    padding: 4px;
    border-radius: 4px;
    margin-left: 10px;
}
.bugTypeText {
    background-color: #fff;
    color: #0066cc;
    marging-left: 10px;
}

